
/* ============= CSS RESET DEFAULT ============= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}

hr {
  color: inherit;  
  height: 0; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
}

ol, ul {
	list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  display: inline-block;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4 {
  font-family: 'Khand', sans-serif;
}

a, li, p {
  font-family: 'Hind', sans-serif;
}

button a {
  color: var(--bg-color);
  font-weight: 600;
}

/* ========= colors and sizes ======== */
:root {
  --bg-color: #161616;
  --second-bg-color:  #7D7C7C;
  --text-color: #FDFDFD;
  --main-color: #13E478;

  --size-xss: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}