/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.btn {
  position: relative;
  display: inline-block;
  color: var(--main-color);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--main-color);
}

.btn a {
  transition: ease-out 1s;
  color: var(--text-color);
}

.btn:hover a  {
  color: var(--bg-color);
}

.btn:hover {
  color: var(--bg-color);
  box-shadow: inset 0 -100px 0 0 var(--main-color);
}

.btn:active {
  transform: scale(0.9);
}

.nav-link {
  font-family: inherit;
  cursor: pointer;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

.nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.social-icons ul li a img {
  transition: all .2s ease-in-out;
}

.social-icons ul li a img:hover {
  transform: scale(1.4);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-sec-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  margin-top: 5rem;
}

.section-title {
  font-size: var(--size-5xl);
  text-align: center;
  color: var(--main-color);
  margin-bottom: var(--size-3xl);
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .hero-sec-container {
    max-width: 320px;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }

  .hero-sec-container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .section {
    margin-top: 8rem;
  }

  .hero-sec-container {
    max-width: 640px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .section-title {
    font-size: var(--size-7xl);
    margin-top: var(--size-2xl);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero-sec-container {
    max-width: 768px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .hero-sec-container {
    max-width: 1024px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .hero-sec-container {
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .section-title {
    font-size: var(--size-8xl);
    margin-top: var(--size-5xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .hero-sec-container {
    max-width: 1536px;
  }
}